$font-family-1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-family-2: 'Roboto', sans-serif;
$chocolate:rgb(237, 100, 2);
$gray:rgb(183, 183, 183);
$gray-1:rgb(101, 101, 101);
$white:white